{% extends 'include/base.html' %} {% load static %} {% block body %}
<header>
  <div class="agbBg bg-theme-overlay">
    <section class="section__breadcrumb">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="text-capitalize text-white">{{agb_title}}</h2>
          </div>
        </div>
      </div>
    </section>
  </div>
</header>

<section class="bg-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <h5>{{agb_title}}</h5>
        <p>{{agb_date}}</p>
        <h5>{{agb_scope_title}}</h5>
        <p>{{agb_scope_text}}</p>
        <h5>{{agb_usage_title}}</h5>
        <p>{{agb_usage_text}}</p>
        <h5>{{agb_reg_title}}</h5>
        <p>{{agb_reg_text}}</p>
        <h5>{{agb_offers_title}}</h5>
        <p>{{agb_offers_text}}</p>
        <h5>{{agb_commission_title}}</h5>
        <p>{{agb_commission_text}}</p>
        <h5>{{agb_liability_title}}</h5>
        <p>{{agb_liability_text}}</p>
        <h5>{{agb_privacy_title}}</h5>
        <p>{{agb_privacy_text}}</p>
        <h5>{{agb_changes_title}}</h5>
        <p>{{agb_changes_text}}</p>
        <h5>{{agb_final_title}}</h5>
        <p>{{agb_final_text}}</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-gradient py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9">
        <h2 class="text-uppercase text-light">{{agb_cta_title}}</h2>
        <p class="text-capitalize text-light">{{agb_cta_text}}</p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-12">
      <img src="{% static 'images/logo-black2.png' %}" alt="logo" style="width: 255px; padding: 20px 0" />
    </div>
  </div>
</div>
{% endblock %}
