{% extends 'include/base.html' %}
{% load static %}
{% block body %}
<div class="myHeaderBg bg-theme-overlay">
    <section class="section__breadcrumb">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 text-center">
                    <h2 class="text-capitalize text-white">
                        {% if is_edit %}Projekt bearbeiten{% else %}Neues Referenzprojekt{% endif %}
                    </h2>
                </div>
            </div>
        </div>
    </section>
</div>
</header>
<div class="clearfix"></div>

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow">
                    <div class="card-header">
                        <h5 class="mb-0">
                            <i class="fa fa-{% if is_edit %}edit{% else %}plus{% endif %} mr-2"></i>
                            {% if is_edit %}Projekt bearbeiten{% else %}Neues Projekt{% endif %}
                        </h5>
                    </div>
                    <div class="card-body">
                        <form action="{% if is_edit %}{% url 'main:reference_project_edit' professional.id project.id %}{% else %}{% url 'main:reference_project_create' professional.id %}{% endif %}" 
                              method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-group">
                                <label>Projekttitel *</label>
                                <input type="text" class="form-control" name="title" 
                                       value="{% if is_edit %}{{ project.title }}{% endif %}" required>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Jahr</label>
                                    <input type="number" class="form-control" name="year" 
                                           value="{% if is_edit and project.year %}{{ project.year }}{% endif %}" 
                                           min="1990" max="2030">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Standort</label>
                                    <input type="text" class="form-control" name="location" 
                                           value="{% if is_edit %}{{ project.location|default:'' }}{% endif %}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Projektart</label>
                                    <input type="text" class="form-control" name="project_type" 
                                           value="{% if is_edit %}{{ project.project_type|default:'' }}{% endif %}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Beschreibung</label>
                                <textarea class="form-control" name="description" rows="4">{% if is_edit %}{{ project.description|default:'' }}{% endif %}</textarea>
                            </div>

                            <hr class="my-4">
                            <h6 class="text-muted mb-3"><i class="fa fa-images mr-2"></i>Bilder (max. 6)</h6>
                            
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label class="small">Bild 1</label>
                                    {% if is_edit and project.image_1 %}
                                    <div class="mb-2"><img src="{{ project.image_1.url }}" class="img-thumbnail w-100" style="height:80px;object-fit:cover;"></div>
                                    <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="del1" name="delete_image_1"><label class="custom-control-label small text-danger" for="del1">Loeschen</label></div>
                                    {% endif %}
                                    <input type="file" class="form-control-file small" name="image_1" accept="image/*">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="small">Bild 2</label>
                                    {% if is_edit and project.image_2 %}
                                    <div class="mb-2"><img src="{{ project.image_2.url }}" class="img-thumbnail w-100" style="height:80px;object-fit:cover;"></div>
                                    <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="del2" name="delete_image_2"><label class="custom-control-label small text-danger" for="del2">Loeschen</label></div>
                                    {% endif %}
                                    <input type="file" class="form-control-file small" name="image_2" accept="image/*">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="small">Bild 3</label>
                                    {% if is_edit and project.image_3 %}
                                    <div class="mb-2"><img src="{{ project.image_3.url }}" class="img-thumbnail w-100" style="height:80px;object-fit:cover;"></div>
                                    <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="del3" name="delete_image_3"><label class="custom-control-label small text-danger" for="del3">Loeschen</label></div>
                                    {% endif %}
                                    <input type="file" class="form-control-file small" name="image_3" accept="image/*">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="small">Bild 4</label>
                                    {% if is_edit and project.image_4 %}
                                    <div class="mb-2"><img src="{{ project.image_4.url }}" class="img-thumbnail w-100" style="height:80px;object-fit:cover;"></div>
                                    <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="del4" name="delete_image_4"><label class="custom-control-label small text-danger" for="del4">Loeschen</label></div>
                                    {% endif %}
                                    <input type="file" class="form-control-file small" name="image_4" accept="image/*">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="small">Bild 5</label>
                                    {% if is_edit and project.image_5 %}
                                    <div class="mb-2"><img src="{{ project.image_5.url }}" class="img-thumbnail w-100" style="height:80px;object-fit:cover;"></div>
                                    <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="del5" name="delete_image_5"><label class="custom-control-label small text-danger" for="del5">Loeschen</label></div>
                                    {% endif %}
                                    <input type="file" class="form-control-file small" name="image_5" accept="image/*">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="small">Bild 6</label>
                                    {% if is_edit and project.image_6 %}
                                    <div class="mb-2"><img src="{{ project.image_6.url }}" class="img-thumbnail w-100" style="height:80px;object-fit:cover;"></div>
                                    <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="del6" name="delete_image_6"><label class="custom-control-label small text-danger" for="del6">Loeschen</label></div>
                                    {% endif %}
                                    <input type="file" class="form-control-file small" name="image_6" accept="image/*">
                                </div>
                            </div>

                            <hr class="my-4">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Sortierung</label>
                                    <input type="number" class="form-control" name="sort_order" 
                                           value="{% if is_edit %}{{ project.sort_order }}{% else %}0{% endif %}" min="0">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>&nbsp;</label>
                                    <div class="custom-control custom-checkbox mt-2">
                                        <input type="checkbox" class="custom-control-input" id="is_featured" name="is_featured" 
                                               {% if is_edit and project.is_featured %}checked{% endif %}>
                                        <label class="custom-control-label" for="is_featured">
                                            <i class="fa fa-star text-warning"></i> Hervorgehoben
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between mt-4 pt-3 border-top">
                                <a href="{% url 'main:reference_projects_list' professional.id %}" class="btn btn-outline-secondary">
                                    <i class="fa fa-arrow-left mr-2"></i>Abbrechen
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save mr-2"></i>
                                    {% if is_edit %}Speichern{% else %}Erstellen{% endif %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
