{% load static %}
<div class="col-md-12 col-lg-12">
    <div class="card__image-hlist">
        <div class="row">
            <div class="col-md-4 col-lg-5 col-xl-4">
                <div class="card__image-header h-250">
                    <a href="{% url 'main:property_details' listing.id %}">
                        <img src="{% if listing.photo_main %}{{listing.photo_main.url}}{% else %}{% static 'images/news1.png' %}{% endif %}" alt=""
                            class="img-fluid w100 img-transition">
                    </a>
                    <div class="info" style="background-color: #db0000;">{{listing.json_content.property_status}}</div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-5 my-auto pd-0">
                <div class="card__image-body">
                    <span class="badge badge-primary bg-mycolor text-capitalize mb-2">{{listing.json_content.property_type}}</span>
                    <h6 class="text-capitalize">
                        <a href="{% url 'main:property_details' listing.id %}">{{listing.json_content.property_title}}</a>
                    </h6>
                    <p class="text-capitalize">
                        <i class="fa fa-map-marker"></i>
                        {{listing.json_content.address}}
                    </p>
                    <ul class="list-inline card__content">
                        <li class="list-inline-item">
                            <span>
                                <i class="fa fa-bath"></i> {{listing.json_content.bathrooms}} {{baths}}
                            </span>
                        </li>
                        <li class="list-inline-item">
                            <span>
                                <i class="fa fa-bed"></i> {{listing.json_content.bedrooms}} {{beds}}
                            </span>
                        </li>
                        <li class="list-inline-item">
                            <span>
                                <i class="fa fa-inbox"></i> {{listing.json_content.floors}} {{floors}}
                            </span>
                        </li>
                        <li class="list-inline-item">
                            <span>
                                <i class="fa fa-map"></i> {{listing.json_content.area}} sq ft
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 my-auto card__image__footer-first">
                <div class="card__image__footer">
                    <figure>
                        {% if listing.realtor %}
                        <img onclick="window.location.href='{% url "main:agent" listing.realtor.id %}'" src="{% if listing.realtor.profile_image %}{{listing.realtor.profile_image.url}}{% else %}{% static 'images/p2.png' %}{% endif %}" alt=""
                            class="img-fluid rounded-circle">
                        {% else %}
                        <img src="{% static 'images/p2.png' %}" alt="" class="img-fluid rounded-circle">
                        {% endif %}
                    </figure>
                    <ul class="list-inline my-auto">
                        <li class="list-inline-item name">
                            {% if listing.realtor %}
                            <a href="{% url "main:agent" listing.realtor.id %}">
                                {{listing.realtor.first_name}}
                                {{listing.realtor.last_name}}
                            </a>
                            {% else %}
                            <span>-</span>
                            {% endif %}
                        </li>
                    </ul>
                    <ul class="list-inline my-auto ml-auto price">
                        <li class="list-inline-item">
                            <h6>€ {{listing.json_content.property_price}}</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
